server:
  port: 7001

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://localhost:3306/carverse_authdb?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  # must be a BASE64 string with enough length; for now:
  secret: bXktdmVyeS1sb25nLXNlY3JldC1rZXktY2FydmVyc2UtMjAyNQ==
  expiration-ms: 900000           # 15 minutes
  refresh-expiration-ms: 604800000 # 7 days

  spring:
    mail:
      host: smtp.gmail.com
      port: 587
      username: carverse.notifications@gmail.com
    password: akueauigdpnupwcs   # 16 characters, spaces lekunda paste chey
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            debug: true
            enable: true
            required: true
    default-encoding: UTF-8


notification:
  email:
    from: "Carverse <carverse.notifications@gmail.com>"











