server:
  port: 7001

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://mysql:3306/carverse?createDatabaseIfNotExist=true
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://eureka:eureka123@discovery-service:8761/eureka/
