server:
  port: 7001

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://mysql:3306/carverse_authdb?createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka
