server:
  port: 7003

spring:
  application:
    name: notification-service

notification:
  base-url: http://localhost:7003
  mail:
    host: smtp.gmail.com
    port: 587
    username: carverse.notifications@gmail.com
    password: akueauigdpnupwcs
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
    default-encoding: UTF-8

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always