server:
  port: 7003

spring:
  application:
    name: notification-service

  spring:
    mail:
      host: smtp.hostinger.com
      port: 465
      username: carverse.notifications@gmail.com
      password: akueauigdpnupwcs   # 16 characters, spaces lekunda paste chey
      properties:
        mail:
          smtp:
            auth: true
            starttls:
              debug: true
              enable: true
              required: true



eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info
