server:
  port: 7003

spring:
  application:
    name: notification-service

  mail:
    host: smtp.gmail.com
    port: 587
    username: carverse.notifications@gmail.com
    password: akueauigdpnupwcs
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
    default-encoding: UTF-8

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info
jwt:
  # must be a BASE64 string with enough length; for now:
  secret: bXktdmVyeS1sb25nLXNlY3JldC1rZXktY2FydmVyc2UtMjAyNQ==
  expiration-ms: 900000           # 15 minutes
  refresh-expiration-ms: 604800000 # 7 days



