version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: carverse
    ports:
      - "3307:3306"
    networks:
      - carverse-net

  discovery-service:
    build: ./discovery-service
    container_name: discovery-service
    restart: always
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - carverse-net

  auth-service:
    build: ./auth-service
    container_name: auth-service
    restart: always
    depends_on:
      - mysql
      - discovery-service
    ports:
      - "7001:7001"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - carverse-net

  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    restart: always
    depends_on:
      - discovery-service
      - auth-service
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - carverse-net

  car-listing-service:
    build: ./car-listing-service
    container_name: car-listing-service
    restart: always
    depends_on:
      - mysql
      - discovery-service
    ports:
      - "7002:7002"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - carverse-net

networks:
  carverse-net:
    driver: bridge
