server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
          # filters:
          #   - StripPrefix=1    # <-- REMOVE / comment this
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
