server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/api/auth/**

eureka:
  client:
    service-url:
      defaultZone: http://eureka:eureka123@discovery-service:8761/eureka/




