server:
  port: 8761

spring:
  application:
    name: discovery-service
  security:
    user:
      name: eureka
      password: eureka123

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://eureka:eureka123@discovery-service:8761/eureka/
  server:
    enable-self-preservation: false
