server:
  port: 7001

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://localhost:3306/carverse_authdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none   # CRITICAL CHANGE: Flyway manages schema, Hibernate touch cheyakoodadu
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        # Updated dialect (MySQL8Dialect deprecated in newer Hibernate)
        dialect: org.hibernate.dialect.MySQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: false
    locations: classpath:db/migration
    table: flyway_schema_history_auth
    # Optional but good for dev
    out-of-order: true


  mail:
    host: smtp.gmail.com
    port: 587
    username: carverse.notifications@gmail.com
    password: akueauigdpnupwcs
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

jwt:
  secret: bXktdmVyeS1sb25nLXNlY3JldC1rZXktY2FydmVyc2UtMjAyNQ==
  expiration-ms: 900000        # 15 minutes
  refresh-expiration-ms: 604800000  # 7 days

notification:
  email:
    from: "Carverse <carverse.notifications@gmail.com>"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
    show-details: always


