server:
  port: 7004

spring:
  application:
    name: chat-service

  datasource:
    url: jdbc:mysql://mysql:3306/carverse
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true

notification:
  base-url: http://notification-service:7003
  enabled: true

logging:
  level:
    org.flywaydb: INFO